String of arrays

In [2]:
s = 'Ayusman'
print(s[3])

s

Slicing

In [3]:
a ="Ayusman Pradhan"

# get a rage of values
print(a[2:10])

usman Pr

In [4]:
print(a[-15:-6])

Ayusman P

In [5]:
print(a[2::2])

umnPahn

String Methods

In [6]:
# printing lower case
print(a.lower())

ayusman pradhan

In [7]:
# printing uppercase
print(a.upper())

AYUSMAN PRADHAN

In [8]:
# Replacing the letter
print(a.replace('a', 'o'))

Ayusmon Prodhon

In [9]:
# spliting
print(a.split('a'))
print(a.split(" "))

['Ayusm', 'n Pr', 'dh', 'n']
['Ayusman', 'Pradhan']

String Concatination

In [10]:
# Combing two string
a = 'Ayusman'
b = 'Pradhan'
print(a+" "+b)

Ayusman Pradhan

Opration on text files

In [11]:
file = open("data.txt", "w+")

In [12]:
for i in range(10):
    file.write("Ayusman Pradhan is %d\r\n" % (i+1))

In [13]:
file.close()

In [14]:
# appending data two file
file = open('data.txt', 'a+')

In [15]:
for i in range(3):
    file.write("Ayusman is average %d\r\n" % (i + 1))

In [16]:
file.close()

Reading the files

In [17]:
# reading the file
file = open("data.txt", "r")

In [18]:
if file.mode == 'r':
    content = file.read()

In [19]:
print(content)

Ayusman Pradhan is 1

Ayusman Pradhan is 2

Ayusman Pradhan is 3

Ayusman Pradhan is 4

Ayusman Pradhan is 5

Ayusman Pradhan is 6

Ayusman Pradhan is 7

Ayusman Pradhan is 8

Ayusman Pradhan is 9

Ayusman Pradhan is 10

Ayusman is average 1

Ayusman is average 2

Ayusman is average 3

### Text Preprocessing

In [20]:
import nltk
import string
import re

In [21]:
def to_lower(text):
    return text.lower()

input = "AyUsman sPeaks OriYa and JaPaneEESe"
a = to_lower(input)

print(a)

ayusman speaks oriya and japaneeese

In [22]:
def to_upper(text):
    return text.upper()

print(to_upper(input))

AYUSMAN SPEAKS ORIYA AND JAPANEEESE

In [23]:
def remove_num(text):
    result = re.sub(r'\d+',"",text)
    return result

In [25]:
input = "AYUSMAN WANTS 1 LOVE"
remove_num(input)

'AYUSMAN WANTS  LOVE'

In [28]:
import inflect

p = inflect.engine

def num_to_word(text):

    #spliting the word
    split_text = text.split()

    # intializing the empty list
    str_list = []

    # adding words to the list
    for word in split_text:
        if word.isdigit():
            str_list.append(p.number_to_words(word))
        else:
            str_list.append(word)

    result = ' '.join(str_list)

    return result

In [29]:
num_to_word(input)

TypeError: engine.number_to_words() missing 1 required positional argument: 'num'